.book-review {
    margin-block-start: 2rem;
    background-color: #e9e3e3;
    padding: 1rem;
}

.book-review form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.book-review form div {
    display: flex;
    justify-content: space-between;
}

.book-review form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.book-review input[type="text"],
select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.book-review input[type="text"]:focus,
select:focus {
    outline: none;
    border-color: #6d9bf1;
}

.book-review button[type="submit"] {
    background-color: #6d9bf1;
    color: white;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.book-review button[type="submit"]:hover {
    background-color: #5792e6;
}

.book-review button {
    background: none;
    border: none;
    color: #6d9bf1;
    cursor: pointer;
    font-size: 1rem;
}
