.book-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.book-details h1 {
    color: var(--clr1);
    font-size: 2em;

}

.book-details h5 {
    color: var(--clr2);
}

.book-details img {
    max-width: 200px;
    display: block;
    margin: auto;
}

.book-details h5.red {
    color: red;
}

.book-details h5.green {
    color: green
}

.book-details a{
    display: inline-block;
    padding: 10px 20px;
    margin-block: 2rem;
    border: none;
    text-decoration: none;
    background-color: #4CAF50;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-details a:hover {
    background-color: #45a049;
}

.book-img {
    position: relative;
    color: white;
    text-align: center;
}

.sale-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    background-color: red;
    translate: -50% -50%;
    opacity: 0.5;
}